nav a{
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 2rem;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    background-color: gray;

}